<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons *ngIf="user" slot="secondary" collapse="true">
            <ion-button fill="clear" class="avatar-button" [routerLink]="['/settings']">
                <ion-avatar slot="start" class="header-avatar">
                    <img src="https://api.adorable.io/avatars/100/{{user.user_id}}">
                </ion-avatar>
            </ion-button>
        </ion-buttons>
        <ion-title>MAP</ion-title>
        <ion-buttons slot="primary" collapse="true">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <div id="mapId" style="width: 100%; height: 100%">
    </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" form="privateForm">
    <ion-fab-button (click)="openModal()" translucent="true">
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>